<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{=(response.title or request.application).capitalize()}}</title>
  <link rel="icon" href="/baadal/static/images/favicon.png" />
  <link rel="stylesheet" href="/baadal/static/css/bootstrap.min.css" />
  <link href="/baadal/static/css/sb-admin.css" rel="stylesheet">
  <link href="/baadal/static/css/signin.css" rel="stylesheet" />
  <link href="/baadal/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/baadal/static/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/baadal/static/css/baadal-custom.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="/baadal/static/js/html5shiv.js"></script>
      <script src="/baadal/static/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>
  <div class="container" id="web2py_user_form">
  <!--  <form action="#" class="form-signin" method="post" enctype="multipart/form-data">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="auth_user_username" class="sr-only">Email address</label>
      <input type="text" id="auth_user_username" class="form-control string" placeholder="Username"
             name="username" required autofocus>
      <label for="auth_user_password" class="sr-only">Password</label>
      <input type="password" id="auth_user_password" class="form-control password"
             name="password" placeholder="Password" required>
      <div style="display:none;">
        <input name="_next" type="hidden" />
        <input name="_formkey" type="hidden" />
        <input name="_formname" type="hidden" value="login" />
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</body>
</html>


<h2>Login</h2>
<div id="web2py_user_form">
    <form action="#" enctype="multipart/form-data" method="post">
      <table>
        <tr id="auth_user_email__row">
          <td class="w2p_fl">
            <label for="auth_user_email" id="auth_user_email__label">E-mail: </label>
          </td>
          <td class="w2p_fw">
            <input class="string" id="auth_user_email" name="email" type="text" value="" />
          </td>
          <td class="w2p_fc"></td>
        </tr>
        <tr id="auth_user_password__row">
          <td class="w2p_fl">
            <label for="auth_user_password" id="auth_user_password__label">Password: </label>
          </td>
          <td class="w2p_fw">
            <input class="password" id="auth_user_password" name="password" type="password" value="" />
          </td>
          <td class="w2p_fc"></td>
        </tr>
        <tr id="auth_user_remember_me__row">
          <td class="w2p_fl">
            <label for="auth_user_remember_me" id="auth_user_remember_me__label">Remember me (for 30 days): </label>
          </td>
          <td class="w2p_fw">
            <input class="boolean" id="auth_user_remember_me" name="remember_me" type="checkbox" value="on" />
          </td>
          <td class="w2p_fc"></td>
        </tr>
        <tr id="submit_record__row">
          <td class="w2p_fl"></td>
          <td class="w2p_fw">
            <input type="submit" value="Log In" />
          </td>
          <td class="w2p_fc"></td>
        </tr>
      </table>
      <div style="display:none;">
        <input name="_next" type="hidden" value="/baadal/user/index" />
        <input name="_formkey" type="hidden" value="5b1d1e6e-a2b3-47a6-8462-f0fc9a990afc" />
        <input name="_formname" type="hidden" value="login" />
      </div>
    </form>
    <br/><a href="/baadal/default/user/register">register</a>
    <br/>
    <a href="/baadal/default/user/request_reset_password">lost password</a>
</div>
-->
<?=form?>
</div>
</body>
