<? extend 'blank-page.html' ?>

<div class="panel">
  <h3>Tasks</h3>
  <ul class=" panel-heading nav nav-pills">
    <li><a href="/baadal/admin/pending_tasks.html">Pending Tasks</a></li>
    <li><a href="/baadal/admin/completed_tasks.html">Completed Tasks</a></li>
    <li class="active"><a href="#">Failed Tasks</a></li></br></br></br>
        <table id="requests" class="table table-striped table-condensed table-bordered table-hover">  
        <thead>
            <tr>
                <th>Task</th>
                <th>VM Name</th>
                <th>Requested By</th>
                <th>Debug Info</th>
                <th>Request Time</th>
                <th>Final Time</th>
            </tr>
        </thead>
    </table>
  </div>
<? include 'default-scripts.html' ?>
<script src="/baadal/static/js/datatables.min.js"></script>
<script src="/baadal/static/js/dataTables.bootstrap.min.js"></script>
<script>
(function(){
  var $requests = $('#requests');
  var $table = $requests.DataTable( {
    "ajax": "/baadal/admin/failed_tasks.json",
    "oLanguage": {
      "sEmptyTable": "No pending requests!"
    },
     "aoColumnDefs": [
        {
          aTargets:[3],
          mData: null,
          mRender: function(data, type, full) {
              return '<a class="Debug-link" href="#">Error</a>'
            }         
        }],
    "columns": [
      { "data": "task" },
      { "data": "vm_name" },
      { "data": "requester" },
      { "data": undefined },
      { "data": "request_time" },
      { "data": "final_time" }
    ],
    "order": [[ 3, "desc" ]],
    "fnCreatedRow": function( nRow, aData, iDataIndex ) {
      nRow.setAttribute('data-reqid',aData.id);
    }
  });
$requests.on('click', '.Debug-link', function(e) {
    var id = this.closest('tr').getAttribute('data-reqid');
    $.ajax({
      'url': '/baadal/action/debug_info_message.json',
      'type': 'post',
      'dataType' : 'json',
      'data': {
        'id':id
       // 'action': action
      },
      'error' : function(response) {
        var error;
        if (error = response.getResponseHeader('web2py_error')) {
          baadalApp.generateTicketLink(error);
        }
      },
      'success': function(response) {
       alert(response.message);
        }
    });
  });
})();
</script>
</ul>
</div>
<? include 'wrap.html' ?>
