<? extend 'blank-page.html' ?>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">All Virtual Machines</h3>
  </div>
  <div class="panel-body">
    <table id="all-vms" class="table table-bordered table-stripped table-hover table-condensed">
     <thead>
        <tr>
          <th>Name</th>
          <th>State</th>
          <th>Owner</th>
          <th>Config</th>
          <th>Image</th>
          <th>IP Address(es)</th>
          <th>Instance Name</th>
          <th>Hostname</th>
          <th>Settings</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<? include 'default-scripts.html' ?>
<script id="snapshots-tmpl" type="text/x-handlebar-template">
{{#if snapshots}}
  {{#each snapshots}}
    <tr data-snapshot-id="{{this.id}}">
      <td>{{this.name}}</td>
      <td>{{this.created}}</td>
      <td class="text-center">
        <a title="Restore this spanshot" href="#" class="snapshot-restore">
          <span class="badge">
            <span class="fa fa-reply"></span>
          </span>
        <a title="Delete this snapshot" href="#" class="snapshot-delete">
          <span class="badge">
            <span class="fa  fa-times"></span>
          </span>
        </a>
      </td>
    </tr>
  {{/each}}
{{else}}
  <tr>
    <td colspan="100%" class="text-center"> There are no spanshots </td>
  <tr>
{{/if}}
</script>
<script id="btns-tmpl" type="text/x-handlebar-template">
<div class="btn-group" role="group" aria-label="...">
  <button title="{{action}}" type="button" data-action="{{action}}" class="btn btn-success btn-action" aria-label="Start">
    <span class="fa fa-{{icon}}" aria-hidden="true"></span>
  </button>
  <button title="Settings" type="button"data-action="settings" class="btn btn-primary btn-settings" aria-label="Settings">
    <span class="fa fa-cog" aria-hidden="true"></span>
  </button>
</div>
</script>

<script src="/baadal/static/js/datatables.min.js"></script>
<script src="/baadal/static/js/dataTables.bootstrap.min.js"></script>
<script>
  (function () {
    var config = {
      tableid: 'all-vms',
      modalid: 'vm-settings-modal',
      templateURL: document.location.origin + '/baadal/ajax/vm_settings_template.html',
      dataURL: document.location.origin + '/baadal/admin/all_vms.json',
      isAdmin: true
    };

    baadalApp.vmView.init(config);
    //console.log(baadalApp.vmView);

  })();
</script>
<? include 'wrap.html' ?>
