{{extend 'blank-page.html'}}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Configure Networks</h3>
  </div>
  <div class="panel-body">
    <table id="networks-table" class="table table-hover table-stripped table-condensed table-bordered">
      <thead>
      <tr>
        <th>Network Name</th>
        <th>State</th>
        <th>Shared</th>
        <th>External</th>
        <th>Subnets</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default" id="btn-add-network">New network</button>
  </div>
</div>
{{include 'default-scripts.html'}}
<script src="/baadal/static/js/datatables.min.js"></script>
<script src="/baadal/static/js/dataTables.bootstrap.min.js"></script>
<script>
  (function($) {
    var $t = $('#networks-table');
    var $table = $t.DataTable({
      ajax: '/baadal/admin/networks.json',
      aoColumnDefs: [
        {
          aTargets:[1],
          mData: null,
          mRender: function(data, type, full) {
            if (type === 'filter' || type === 'display') {
              return data.admin_state_up ? 'Up' : 'Down';
            } else {
              return data;
            }
          }

        },
        {
          aTargets:[4],
          mData: null,
          mRender: function(data, type, full) {
            if ( type === 'display') {
              var subnets = data.subnets;
              var i, arr = [];
              for (i = subnets.length - 1; i >=0; i--) {
                var str = '<a class="subnet-link" href="#" data-subnet="' +
                  subnets[i].id + '">' + subnets[i].name + '</a>';
                arr.push(str)
              }
              return arr.join(', ') + '<button title="Add Subnet" ' + 
                'class="btn btn-sm btn-default pull-right btn-add-subnet">' + 
                '<span class="glyphicon glyphicon-plus"></span></button>';
            } else {
              return data;
            }
          }
        }
      ],
      columns: [
        { data: 'name'},
        { data: undefined},
        { data: 'shared'},
        { data: 'router:external'},
        { data: undefined}
      ]
    });
    $t.on('click', '.subnet-link', function(e) {
      // Will work only on Firefox 34+, Chrome 45+, Opera 32+, Safari 9+
      // Will not work on any verison of Internet Explorer
      var data = Object.assign({}, $table.row(this.closest('tr')).data());
      var subnetid = this.getAttribute('data-subnet');
      $.ajax({
        url: '/baadal/static/templates/subnet-settings-template.html',
        success: function(response) {
          var template = Handlebars.compile(response);
          var filtered_data = baadalApp.filterArrayObject(data, 'subnets', 'id', subnetid);
          var html = template(filtered_data);
          $(document.body).prepend(html);
          var $modal = $('#subnets-modal').modal('show');
          $modal.on('hidden.bs.modal', function() {
            $modal.remove();
          });
        }
      });
    });
    $t.on('click', '.btn-add-subnet', function(){
      var netname = $table.row(this.closest('tr')).data().name;
      var netid = $table.row(this.closest('tr')).data().id;
      console.log(netname);
      $.ajax({
        url: '/baadal/static/templates/add-subnet-template.html',
        success: function(response) {
          $(document.body).prepend(response);
          var $modal = $('#add-subnet-modal').modal('show');
          document.getElementById('net-name').value = netname;
          $modal.on('shown.bs.modal', function () {
            $('#subnet-name').focus();
            document.getElementById('net-id').value = netid;
            $('#btn-add-subnet-now').on('click', function(e){
              $('#frm-add-subnet').find('.has-error').removeClass('has-error');
              e.preventDefault();
              var data = baadalApp.serialize($('#frm-add-subnet').serializeArray());
              data['dhcp_enabled'] = !(!data['dhcp_enabled']);
              console.log(data);
              $.ajax({
                url: '/baadal/admin/create_subnet.json',
                type: 'post',
                data: data,
                dataType: 'json',
                error: function(error, code, response) {
                  var response = JSON.parse(error.responseText);
                  if (response.fields) {
                    for (var id of response.fields) {
                      document.getElementById(id).parentElement.classList.add('has-error');
                      $('#modal-error-message').fadeIn();
                    }
                  }
                },
                success: function(response) {
                  if(response.status == 'fail') {
                    if (response.message) {
                      $('#modal-error-message').html(response.message).fadeIn();
                    } else {
                      $('#modal-error-message').fadeIn();
                    }
                  } else {
                    if(response.status == 'success') {
                      $('#modal-success-message').fadeIn();
                    }
                  }
                }
              });
            });
          });
          $modal.on('hidden.bs.modal', function() {
            $modal.remove();
          });
        }
      });
    });
    $('#btn-add-network').on('click', function(){
      $.ajax({
        url: '/baadal/static/templates/add-network-template.html',
        success: function(response) {
          $(document.body).prepend(response);
          var $modal = $('#add-network-modal').modal('show');
          $('#btn-add-network-now').on('click', function (e) {
            e.preventDefault();
            var data = baadalApp.serialize($('#frm-add-network').serializeArray());
            data['shared'] = !(!data['shared']);
            data['network_up'] = !(!data['network_up']);
            data['external'] = !(!data['external']);
            console.log(data);
            $.ajax({
              url: '/baadal/admin/create_network.json',
              type: 'post',
              dataType: 'json',
              'data': data,
              success: function (response) {
                if(response.hasErrors) {
                  $('#modal-error-message').fadeIn();
                  for(var elem in response.errorFields) {
                    document.getElementById(elem).classList.add('has-error');
                  }
                } else {
                  if(response.status == 'success') {
                      $('#modal-success-message').fadeIn();
                  }
                }
              }
            });
          });
          $modal.on('hidden.bs.modal', function() {
            $modal.remove();
          });
        }
      })
    });
  })(jQuery);
</script>
{{include 'wrap.html'}}
