{{extend 'blank-page.html'}}
<div class="panel panel-primary">
  <div class="panel-body">
    <table id="sgroups-table" class="table table-hover table-stripped table-condensed table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Rules</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="panel-footer">
    <button class="btn btn-default">Add </button>
  </div>
</div>

{{include 'default-scripts.html'}}
<script src="/baadal/static/js/datatables.min.js"></script>
<script src="/baadal/static/js/dataTables.bootstrap.min.js"></script>
<script>
  (function($) {
    $table = $('#sgroups-table');
    $table.DataTable({
      ajax : '/baadal/admin/security_groups.json',
      columns: [
      { data: 'name' },
      { data: 'description' },
      { data: 'security_group_rules.length' }
      ]
    });
  })(jQuery);
</script>
{{include 'wrap.html'}}
