<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{=response.title or request.application}}</title>
	<link rel="stylesheet" href="/baadal/static/css/bootstrap.min.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/baadal/static/js/html5shiv.min.js"></script>
      <script src="/baadal/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BAADAL</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
	  <div id="login">
		{{try:}}{{=auth.navbar(prefix=T('Welcome'),action=URL('default','user'))}}{{except:pass}}
	  </div>
	</div>
	<div id="menu">
	  {{if response.top_menu:}}
	  {{=MENU(response.top_menu, _class='nav', li_first="active")}}
	  {{pass}}
	</div>
	<div id="page">
	  <div id="content">
		<div class="flash">
		  <span id="flash_message">{{=response.flash}} </span>{{''}}
		</div>
		{{include}}
	  </div>
	  <div id="sidebar">
		<ul>
		  {{if response.user_menu:}}
		  <li>
			{{=MENU(response.user_menu, _class='nav',no_link_url=request.url)}}
		  </li>
		  {{pass}}
		  {{if response.faculty_menu:}}
		  <li>
			{{=MENU(response.faculty_menu, _class='nav',no_link_url=request.url)}}
		  </li>
		  {{pass}}
		  {{if response.orgadmin_menu:}}
		  <li>
			{{=MENU(response.orgadmin_menu, _class='nav',no_link_url=request.url)}}
		  </li>
		  {{pass}}
		  {{if response.admin_menu:}}
		  <li>
			{{=MENU(response.admin_menu, _class='nav',no_link_url=request.url)}}
		  </li>
		  {{pass}}
		</ul>
	  </div>
	</div>
	</div>
	<hr/>
	<div id="footer">
	  <p id="legal">
		Copyright &copy; 2011 Baadal. All Rights Reserved | Developed by
		<a href="http://www.iitd.ac.in/">Indian Institute of technology, Delhi, India.</a>
	  </p>
	  <p id="links">
		<a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
	  </p>
	</div>
	<script src="../static/js/jquery-2.1.4.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	{{if response.script:}}
	  {{=XML(response.script)}}
	{{pass}}
  </body>
</html>