<? extend 'blank-page.html' ?>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Request a new virtual machine</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-7">
        <form role="form" id="vm_request" name="vm_request" action="/baadal/user/post_request" method="post" class="form-horizontal">
          <div class="form-group">
            <label for="vm_name" class="col-sm-6 control-label">VM Name*</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="vm_name" name="vm_name" placeholder="Name of the requested VM" required="required">
            </div>
          </div>
          <div class="form-group">
            <label for="template" class="col-sm-6 control-label">Template*</label>
            <div class="col-sm-6">
              <select id="template" name="template" class="form-control select" required="required">
                <option value=""></option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="config" class="col-sm-6 control-label">Configuration*</label>
            <div class="col-sm-6">
              <select id="config" name="config" class="form-control select" required="required">
                <option value=""></option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="sec_domain" class="col-sm-6 control-label">Security Domain*</label>
            <div class="col-sm-6">
              <select id="sec_domain" name="sec_domain" class="form-control select" required="required">
                <option value=""></option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="storage" class="col-sm-6 control-label">Extra Storage (GB)</label>
            <div class="col-sm-6">
              <input type="number" id="storage" name="storage" min=0 value="0"
                class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label for="purpose" class="col-sm-6 control-label">Purpose</label>
            <div class="col-sm-6">
              <textarea id="purpose" name="purpose" class="form-control textarea"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-6 control-label">Public IP Required</label>
            <div class="col-sm-6">
              <div class="radio radio-inline">
                <label>
                  <input type="radio" name="public_ip" id="public_ip" value="yes">Yes
                </label>
              </div>
              <div class="radio radio-inline">
                <label>
                  <input type="radio" name="public_ip" id="public_ip" value="No" checked>No
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="collaborators" class="col-sm-6 control-label">Collaborators</label>
            <div class="col-sm-6">
              <input type="text" id="collaborators" name="collaborators" class="form-control">
            </div>
          </div>

          <? if not (ldap.user_is_faculty(auth.user.username) or user_is_project_admin): ?>
          <div class="form-group">
            <label for="faculty" class="col-sm-6 control-label">Faculty Approver*</label>
            <div class="col-sm-6">
              <input type="text" id="faculty" name="faculty" class="form-control" required="required">
            </div>
          </div>

          <? pass ?>

          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-6">
              <button class="btn btn-primary" type="submit" id="submit_request">Submit</button>
              <button class="btn btn-default" type="reset">Reset</button>
            </div>
          </div>
        </form>
      </div>
      <div class=" panel panel-info col-sm-4" id="info-panel">
         <div class="panel-body">
            <p class="text-info" data-for="template" style="display:none">Please select a suitable template for your new virtual machine.</p>
            <p class="text-info" data-for="vm_name" style="display:none">The name to be given to the newly created virtual machine. <br>
              The name must be unique, alphanumeric, 4 to 12 characters long, must not contain any special characters other than _ or -, must not start or end with _ or -. </p>
            <p class="text-info" data-for="config" style="display:none">Please select and appropriate configuration for the virtual machine.</p>
            <p class="text-info" data-for="sec_domain" style="display:none">The security or the network in which your virtual machine should belong.</p>
            <p class="text-info" data-for="storage" style="display:none">Size of extra disk, if required.</p>
            <p class="text-info" data-for="purpose" style="display:none">(Optional) The purpose for which this virtual machine will be used.</p>
            <p class="text-info" data-for="collaborators" style="display:none">(Optional) UserIDs of the users with whom you want to share this virtual machine.
              Separate multiple IDs with comma.</p>
            <p class="text-info" data-for="faculty" style="display:none">The UserID of the faculty who will approve this virtual machine.</p>
            <p class="text-info" data-for="public_ip" style="display:none">Select "yes" if you want the virtual machine to have an IP address in the IITD LAN.</p>
         </div>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <span style="display:none" class="text-danger" id="error-message">There was some error in the form. Please check the values and submit the form again.</span>
    <span style="display:none" class="text-success" id="success-message">Request successfully posted.</span>
  </div>
</div>
<? include 'default-scripts.html' ?>
<script>
(function(){
  $.ajax({
    'type': 'GET',
    'url': '/baadal/ajax/configs.json',
    'success': function(response) {
      var configSelect = document.getElementById('config');
      configSelect.options.length = 0;
      for (var i = response.length-1; i>=0; i--) {
        var curr_config = response[i];
        var text = curr_config['vcpus'] + 'CPU, ' + curr_config['ram'] + 'MB RAM';
        configSelect.options[configSelect.options.length] = new Option(text, curr_config['id']);
      }
    }
  });

  $.ajax({
    'type': 'GET',
    'url': '/baadal/ajax/templates.json',
    'success': function(response) {
      var templateSelect = document.getElementById('template');
      templateSelect.options.length = 0;
      for (var i = response.length-1; i>=0; i--) {
        var curr_template = response[i];
        var text = curr_template['os_name'] + ' ' + curr_template['os_version']
          + ' ' + curr_template['os_arch'] + ' ' + curr_template['disk_size'];
        templateSelect.options[templateSelect.options.length] = new Option(text, curr_template['id']);
      }
    }
  });

  $.ajax({
    'type': 'GET',
    'url': '/baadal/ajax/networks.json',
    'success': function(response) {
      var secdomainselect = document.getElementById('sec_domain');
      secdomainselect.options.length = 0;
      for (var i = response.length-1; i>=0; i--) {
        var curr_domain = response[i];
        secdomainselect.options[secdomainselect.options.length] = new Option(curr_domain['name'], curr_domain['id']);
      }
    }
  });

  $('#submit_request').on('click', function(e) {
    e.preventDefault();
    $('#vm_request').find('.has-error').removeClass('has-error');
    var data = $('#vm_request').serializeArray();
    data  = baadalApp.serialize(data);
    $('#success-message').hide();
    $('#error-message').hide();
    $.ajax({
      'type' : 'POST',
      'data' : data,
      'url' : '/baadal/post_request/new_vm.json',
      'dataType' : 'json',
      'success' : function(response){
        if(response.status == 'success') {
          $('#success-message').fadeIn(500, function() {
            window.location = window.location.origin;
          });
        }
      },
      'error' : function(response) {
        var error;
        $('#error-message').fadeIn();
        if (error = response.getResponseHeader('web2py_error')) {
          baadalApp.generateTicketLink(error);
        }
        response = JSON.parse(response.responseText)
        if (response.fields) {
          document.getElementById(response.fields[0]).focus();
          for ( var id of response.fields ) {
            document.getElementById(id).parentElement.classList.add('has-error');
          }
        }
      }
    });
    e.currentTarget.disabled = true;
  });

  $('#vm_request').on('focusin', '.form-control, #public_ip', function(e) {
    var $info = $('#info-panel p[data-for=' + this.id + ']')
    $info.fadeIn();
  });
  $('#vm_request').on('focusout', '.form-control, #public_ip', function(e) {
    var $info = $('#info-panel p[data-for=' + this.id + ']')
    $info.hide();
  });

  document.addEventListener('readystatechange', function() {
    setTimeout( function () { document.getElementById('vm_name').focus(); }, 500);
  }, false);
})();
</script>
<? include 'wrap.html' ?>
