<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{=response.title or request.application}}</title>
  <link rel="icon" href="/baadal/static/images/favicon.png" />
  <link rel="stylesheet" href="/baadal/static/css/bootstrap.min.css" />
  <link href="/baadal/static/css/sb-admin.css" rel="stylesheet">
  <link href="/baadal/static/css/signin.css" rel="stylesheet" />
  <link href="/baadal/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/baadal/static/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/baadal/static/css/baadal-custom.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="/baadal/static/js/html5shiv.js"></script>
      <script src="/baadal/static/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>
  <div class="container">
    <form class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
             required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password"
             required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</body>
</html>

