.navbar-brand-bold {
  font-weight: bolder;
}

textarea {
  resize: vertical;
}

#all-vms > tbody > tr> td:nth-child(4) {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 0;
  overflow-x: hidden;
}

#vm-settings-modal .panel-footer>span {
  display: none;
}

#disk-size-input input {
  display: inline-block;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  color: #9d9d9d;
}

code {
  font-size: 80%;
}

#wrapper {
  padding-left: 170px;
}

.side-nav {
  left: 170px;
  width: 170px;
  margin-left: -170px;
  font-size: 12px;
}

.side-nav > li > a {
  width: 170px;
}
