<div class="modal fade" id="subnets-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add Subnet</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{name}}</h3>
          </div>
          <div class="panel-body">
            <form action="#" class="form">
              <div class="form-group"></div>
              <div class="form-group"></div>
              <div class="form-group"></div>
              <div class="form-group"></div>
              <div class="form-group"></div>
              <div class="form-group"></div>
              <div class="form-group"></div>
              <div class="form-group"></div>
            </form>
          </div>
          <div class="panel-footer">
            <span style="display:none" class="text-danger" id="modal-error-message">There was some error in the form. Please check the values and submit the form again.</span>
            <span style="display:none" class="text-info" id="modal-info-message"></span>
            <span style="display:none" class="text-success" id="modal-success-message">Request successfully posted.</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>