<div class="modal fade" id="add-subnet-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Adding Subnet</h3>
          </div>
          <div class="panel-body">
            <form action="#" class="form form-horizontal" id="frm-add-subnet">
              <input type="hidden" id="net-id" name="net_id">
              <div class="form-group">
                <label for="net-name" class="control-label col-sm-3">Network Name*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control form-control-static" id="net-name" name="net_name" readonly>
                </div>
              </div>
              <div class="form-group">
                <label for="subnet-name" class="control-label col-sm-3">Subnet Name*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="subnet-name" name="subnet_name">
                </div>
              </div>
              <div class="form-group">
                <label for="cidr" class="control-label col-sm-3">CIDR*</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="cidr" name="cidr">
                </div>
              </div>
              <div class="form-group">
                <label for="nameservers" class="control-label col-sm-3">DNS Nameservers</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="nameservers" name="nameservers" placeholder="Comma separated list of DNS addresses, default None">
                </div>
              </div>
              <div class="form-group">
                <label for="allocation-pool" class="control-label col-sm-3">Allocation Pool</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="allocation-pool" name="allocation_pool" placeholder="Use Default Values">
                </div>
              </div>
              <div class="form-group">
                <label for="gateway-ip" class="control-label col-sm-3">Gateway IP</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="gateway-ip" name="gateway_ip" placeholder="Use Default Value">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="dhcp-enabled" name="dhcp_enabled" value="true" checked> DHCP Enabled
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-3">IP Version</label>
                <div class="col-sm-9">
                  <div class="radio-inline">
                    <label>
                      <input type="radio" name="ip_version" id="ip-version" value="4" checked>
                      IPv4
                    </label>
                  </div>
                  <div class="radio-inline">
                    <label>
                      <input type="radio" name="ip_version" id="ip-version" value="6">
                      IPv6
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="static-routes" class="control-label col-sm-3">Static Routes</label>
                <div class="col-sm-9">
                  <textarea class="form-control" id="static-routes" name="static_routes"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                  <button id="btn-add-subnet-now" class="btn btn-primary">Add</button>
                </div>
              </div>
            </form>
          </div>
          <div class="panel-footer">
            <span style="display:none" class="text-danger" id="modal-error-message">There was some error in the form. Please check the values and submit the form again.</span>
            <span style="display:none" class="text-info" id="modal-info-message"></span>
            <span style="display:none" class="text-success" id="modal-success-message">Subnet successfully created.</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>